<!--This page shows the club information: location, history, and hours--> 


{% extends "base.html" %}
{% block content%}

<h2>Los Santos Golf Club</h2>

<p>Los Santos Golf Club (sometimes referred to as the Los Santos Country Club) is a 9-hole golf course in Los Santos. The course is based on the Los Angeles Country Club.
<br>
The Los Santos Golf Club is the one place wealthy men know they can get away from their wives, because they're not allowed to play. Women might have won the vote in 1920, but they're still not allowed on the course in Richman.
<br>
A lush golf course in the desert? Ssh, don't tell Africa. Come rub shoulders with privilege at the Los Santos Country Club. It's full of awesome guys just like you.
<br>
The golf club is the most expensive property that any of the three characters can buy in the game and in the entire series, costing $150,000,000 and generating a weekly income of $264,500. It can be purchased after completing the mission Nervous Ron, though it is unlikely the player will have amassed anywhere near enough cash that early on in the game.
To play a round of golf, walk to the front door of the clubhouse between 6:00 and 18:00. The entrance fee is $100. Golf can be played in any weather condition, though it is significantly harder when raining.
</p>



<h2>Club History</h2>
<p>
Founded in 1992, the LS Golf Club was originally male-only, but recently allowed the admittance of "two carefully selected women" due to equality laws. Women are still welcome to enroll, but must meet undisclosed criteria. Membership for anyone includes the protection from journalists and paparazzi.
</p>
  



{% endblock %}