{% extends "base.html" %}
{% block content%}

<h2>Los Santos Golf Club</h2>

<p>Los Santos Golf Club (sometimes referred to as the Los Santos Country Club) is a 9-hole golf course in Los Santos. The course is based on the Los Angeles Country Club.
</p>



<h2>Club History</h2>
<p>
Founded in 1992, the LS Golf Club was originally male-only, but recently allowed the admittance of "two carefully selected women" due to equality laws. Women are still welcome to enroll, but must meet undisclosed criteria. Membership for anyone includes the protection from journalists and paparazzi.
</p>

<h2>Club Hours</h2>
<p>
To play a round of golf, walk to the front door of the clubhouse between 6:00 and 18:00. The entrance fee is $100 per day. The club membership is $1500 per year. The life time membership is $150000.   Golf can be played in any weather condition, though it is significantly harder when raining.
</p>



{% endblock %}