 

{% extends "base.html" %}
{% block content%}

<div style="display: -webkit-flex;display: flex;">
	<div style="max-width:75%">
	<h2>CEO: Michael De Santa</h2>

	<p>Michael De Santa, born Michael Townley in 1965, was born into a tough life somewhere in the Midwest in a trailer park. Michael's father wasn't in the picture. It is unclear who raised Michael, however whoever did changed their stories about Michaels father constantly, claiming he skipped town, was hit by a train, or joined the navy. Later in life Michael claims the stories changed so many times he had lost track. At some point in his childhood he became a fan of sports, specifically golf, tennis and football and took tennis classes as a child.
	He eventually joined the football team when he reached high school. 
	</p>
	</div>

	<div style="padding-left: 50px;padding-top:20px">
		<img style="width:100%" src="/img/michael.png" alt="sfa"/>
	</div>
</div>

<br>
<br>
<br>
<br>

<h2>Hole by hole</h2>

<h3> Hole 1</h3>
<p>The 2nd longest hole on the course, a Par 5 with the initial drive zone complicated by a fairway bunker on the left. A large landing zone for the second shot leaves a short iron to the flat green. With the pin position at the back center, the greenside bunker on the right should not come into play.</p>


<h3>Hole 2</h3>
<p>
The longest par 4 hole. A relatively straighforward tee shot to a wide fairway with a small bunker on the left. Aim to the right side of the fairway for the best approach to the green on the 2nd shot. Pin placement on the flat green at front left protected by a large bunker and complicated by trees on the left side if approaching from the left side of the fairway.</p>


<h3> Hole 3</h3>
<p>
Very short par 3 with the pin placed on the left side of the left to right downhill sloping green and protected by a large bunker in the front left makes getting the medium iron tee shot close to the flag something of a challenge. 
</p>

{% endblock %}
